{% extends 'base.html' %}

{% load static %}
{% block css %}
{% endblock %}

{% block body-style %}
    <body class="homepage is-preload">
		<div id="page-wrapper">
{% endblock %}
{% block contenido %}

<!-- <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" /> -->
<!-- <h1>ESTA ES LA PAG HOME</h1> -->


					<!-- Banner -->
					{% if user.is_staff %}
						<div id="banner">
							<h2 class="col-12"><strong>Bienvenido Administrador: {{ user }} </strong></h2>
							<p></p>
							<br>
							<br>
							<br>
							<div class="container" >
								<div class="row ">
									<!-- <div class="col-lg-4 col-md-6 col-sm-12">
										<a href="/emprendedora" class="button large icon solid fa-check-circle" style="display:none;">Registrarse</a>
									</div> -->
									<div class="col-lg-4 col-md-6 col-sm-12" >
										<a href="/reporte" class="button large icon solid fa-check-circle" >Reportes</a>
									</div>					
									<div class="col-lg-4 col-md-6 col-sm-12" >
										<a href="" class="button large icon solid fa-check-circle" >Análisis</a>
									</div>
									
									<div class="col-lg-4 col-md-6 col-sm-12" >
										<a href="#" class="button large icon solid fa-check-circle" >Otro</a>
									</div>								
								</div>
							</div>
							
									
							
						</div>
						{% else %}
						<div id="banner">							
							<h2><strong>Bienvenida emprendedora: {{ user }}</strong></h2>							
							<p>Este es un espacio especial para que nos cuentes de tus emprendimientos</p>
							<a href="/emprendedora" class="button large icon solid fa-check-circle " style="display:none;">Registrarse</a>
						</div>
					{% endif %}

					</div>
				</div>
				
			<!-- Main Wrapper -->
			{% if user.is_staff %}						
				<div id="main-wrapper">					
					<div class="wrapper style1 pt-1">
						<footer style="padding-left:50px;">
							<a href="/agregar_emprendedora" class="button icon solid fa-info-circle">Registrar</a>
						</footer>	
						<div class="inner">
							

							<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">										
										<div class="col-12 col-12-medium">

										<!-- ------------ tabla emprendedoras --------------------- -->
										<section class="scrolled">
											<header class="major">
												<h2>Nuestras emprendedoras</h2>
											</header>
											<table class="table table-hover">
												<tr>
													<th><h6>N*</h6></th>
													<th><h6>Nombre</h6></th>                                                        
													<th><h6>Fecha de nacim.</h6></th>                                                        
													<th><h6>Teléfono</h6></th>                                                        
													<th><h6>Whatsapp</h6></th>                                                        
													<th><h6>Télegram</h6></th>                                                        
													<th><h6>Dirección</h6></th>                                                        
													<th><h6>Comuna</h6></th>                                                        
													<th><h6>Provincia</h6></th>                                                        
													<th><h6>Región</h6></th>                                                        
												</tr>
												
												{% for e in emprendedoras %}												
												<tr>													
													<td>{{ forloop.counter }}</td>
													<td>{{ e.id_user | title }}</td>
													<td>{{ e.fecha_nacimiento | date:"d/m/Y"}}</td>
													<td>{{ e.telefono | title }}</td>
													<td>{{ e.whatsapp | title }}</td>
													<td>{{ e.telegram | title }}</td>
													<td>{{ e.direccion | title }}</td>
													<td>{{ e.comuna | title }}</td>
													<td>{{ e.provincia | title }}</td>
													<td>{{ e.region | title }}</td>
												</tr>
												{% endfor %}
											</table>                                    
										</section>	
										</div>										
									</div>
								</section>

						</div>
					</div>
					
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-12 col-12-medium">

										<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-file-alt">Publicaciones</h2>

												<!-- Excerpt -->
													<article class="box excerpt">
														<a class="image left"><img src="{% static 'assets/css/images/et02.png' %}" alt="" /></a>
														<div>
															<header>
																<span class="date">Junio 2021</span>
																<h3><a href="https://registropymes.economia.gob.cl/">Registro Nacional de Pymes</a></h3>
															</header>
															<p>Con el objetivo de que las micro, pequeñas y medianas empresas accedan a
																futuros beneficios del Estado de forma rápida y oportuna, el
																17 de junio de 2021 se publicó en el diario oficial la Ley 21.354, en que
																se otorga una serie de bonos de ayuda para las pymes y crea, en su artículo 14,
																el Registro Nacional de Micro, Pequeñas y Medianas Empresas.</p>
														</div>
													</article>	
											</section>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
				{% else %}
				<div id="main-wrapper">
					<div class="wrapper style1">
						<div class="inner">

							<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">
										<div class="col-12">
											<header class="first major">
												<h2>Que puedes compartir en este espacio</h2>
												<p>Cuentanos todo sobre tu emprendimiento<strong>Y te ayudamos a crecer</strong> ...</p>
												<!---------------------------------------------------------------------------------------------------------------->
												{% if user.is_active %} 
													<a href="/chat" class="button large icon solid fa-check-circle" >Chat</a>
												{% endif %}
											</header>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
												<header class="second icon solid fa-user">
													<h3>Tus productos</h3>
													<p>Qué tienes para ofrecer?</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
												<header class="second icon solid fa-cog">
													<h3>Insumos</h3>
													<p>Qué necesitas?</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												<a href="#" class="image featured"><img src="{% static 'images/pic03.jpg'%}" alt="" /></a>
												<header class="second icon solid fa-chart-bar">
													<h3>Asesoría</h3>
													<p>Te ayudamos a llevar tus cuentas</p>
												</header>
											</section>
										</div>
										<div class="col-12">
											<p> En Digital Pacific, queremos que tu, emprendedora y todas nuestras colegas de los diferentes 
												emprendimientos que ofrecen para sus barrios y alrededores, crescan y se desarrollen de la mejor manera 
												haciendo que tu emprendimiento sea competitivo gracias a la union y el apoyo de todos y todas.
												Lo que es bueno para ti, lo es para mi y para todos, y este es el medio para hacerlo,
												logremos juntos cumplir nuestras metas. Contamos con Expertos que te guiaran y enseñaran 
												todo lo necesario para dar ese salto que tanto deseas lograr, y compartiremos consejos y datos que
												nos facilitaran las decisiones.											 
												</p>
										</div>
									</div>
								</section>

						</div>
					</div>
					
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-8 col-12-medium">

										<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-file-alt">Publicaciones recientes</h2>

												<!-- Excerpt -->
													<article class="box excerpt">
														<a class="image left"><img src="https://www.munistgo.cl/wp-content/uploads/2020/12/WhatsApp-Image-2020-12-31-at-19.29.12-12-293x190.jpeg" alt="" /></a>
														<div>
															<header>
																<span class="date">21 de Diciembre</span>
																<h3><a href="https://www.munistgo.cl/feria-navidena-de-pymes-en-el-paseo-bandera/">Feria Navideña en pymes</a></h3>
															</header>
															<p>125 pymes para las compras de #Navidad ¡en el Paseo Bandera! Ven a #MercadoStgoEmprende, 
																apoya a las pymes de la comuna y lleva regalos únicos para la familia y amigos. 
																Estarán de hoy hasta el miércoles de 10h a 20h30 y el jueves 24-12, hasta a las 14h.</p>
														</div>
													</article>

												<!-- Excerpt -->
													<article class="box excerpt">
														<a class="image left"><img src="https://www.propymechile.com/data/images/content/news/2022/12/12/d870c72bbf004235bfb797015bad05c4/cdfc4cd7-ed17-4392-890f-846c5961ddc7.jpg" alt="" /></a>
														<div>
															<header>
																<span class="date">12 de Diciembre</span>
																<h3><a href="https://www.propymechile.com/noticiaspymes/detail?id=d870c72bbf004235bfb797015bad05c4">Emocionar a sus clientes, vende</a></h3>
															</header>
															<p>Marisa Cozak entregó una serie de recomendaciones para que las Pymes puedan incorporar a 
																los clientes como el centro de todo lo que realizan a diario en sus negocios.</p>
														</div>
													</article>											

											</section>
									</div>
									<div class="col-4 col-12-medium">

										<!-- Spotlight -->
											<section class="box spotlight">
												<h2 class="icon fa-file-alt">Destacados</h2>
												<article>
													<a class="image featured"><img src="https://www.munistgo.cl/wp-content/uploads/2021/04/Calle-Hurtado-Rodriguez-Barrio-Yungay-293x190.jpeg" alt=""></a>
													<header>
														<h3><a href="http://www.munistgo.info/revivestgo/vecinos-de-matta-y-yungay-podran-postular-a-fondos-para-revitalizar-sus-barrios-y-mejorar-sus-negocios/#:~:text=mejorar%20sus%20negocios-,Vecinos%20de%20Matta%20y%20Yungay%20podr%C3%A1n%20postular%20a%20fondos%20para,la%20SUBDERE%20y%20el%20BID.">Vecinos de Matta y Yungay podrán postular a fondos</a></h3>
														<p>para revitalizar sus barrios y mejorar sus negocios. (27 de abril)</p>
													</header>
													<p>A través de este programa se busca apoyar a un centenar de empresas de menor tamaño o mipymes,
														con un monto de hasta 2 millones de pesos para cada una, con el objetivo de mejorar la 
														competitividad, sostenibilidad y protección de las economías barriales, mediante capacitación, 
														subvención de capital, mejoramiento de la infraestructura comercial...</p>		
												</article>
											</section>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			{% endif %}


        {% block js %}
        {% endblock %}
		
{% endblock %}