{% extends 'base.html' %}
 
{% load static %}
{% block css %}
{% endblock %}

{% block botones %}
	
{% endblock %}

{% block body-style %}
    <body class="homepage is-preload">
		<div id="page-wrapper">
{% endblock %}
{% block contenido %}

<!-- <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" /> -->
<!-- <h1>ESTA ES LA PAG HOME</h1> -->


					<!-- Banner -->
						<div id="banner">
							<h2 class="col-12" style="color:#ff1616c7 "><strong>ACCESO DENEGADO:</strong></h2>
							<p>Si ud es un usuario registrado, favor de iniciar sesión </p>
							<br>
						</div>

					</div>
				</div>
				
			<!-- Main Wrapper -->
		


        {% block js %}
        {% endblock %}
		
{% endblock %}