
{% extends '../../base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block body-style %}
<body class="left-sidebar is-preload">
    <div id="page-wrapper">
{% endblock %}




{% block contenido %}
            
    
                </div>
            </div>
            
        <!-- Main Wrapper -->
            <div id="main-wrapper">
                <div class="">
                    <div class="inner">
                        <div class="container">                           
                            <div class="row">
                                <div class="col-12 col-12-medium">
                                    <div id="sidebar">

                                        <!-- Sidebar reporte -->
                                            
                                            <section >
                                                <header class="major">
                                                    <h2>REPORTES GENERALES</h2>
                                                </header>
                                                <div class="container" >
                                                    <div class="row ">
                                                        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <a href="/emprendedora" class="button large icon solid fa-check-circle" style="display:none;">Registrarse</a>
                                                        </div> -->
                                                        <div class="col-lg-4 col-md-6 col-sm-12" >
                                                            <a href="/reporte_geografico" class="button large icon solid fa-check-circle" >R.Geográfico</a>
                                                        </div>					
                                                        <div class="col-lg-4 col-md-6 col-sm-12" >
                                                            <a href="/reporte_asesoria" class="button large icon solid fa-check-circle" >R.Asesorias</a>
                                                        </div>
                                                        
                                                        <div class="col-lg-4 col-md-6 col-sm-12" >
                                                            <a href="/reporte_industria" class="button large icon solid fa-check-circle" >R.Industrias</a>
                                                        </div>								
                                                    </div>
                                                </div>
                                                                                                                                
                                            </section>                                           
                                            <br>                                            
                                    </div>
                                </div>
 
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>


            

    </div>
    
    
{% endblock %}
</body>



