
.btn-primary {
    background-color: #50cf9a!important;
    color: #fff;
    box-shadow: #50cf9a;
}

.btn-secondary{
    background-color: #bcc5d1!important;
}

#footer-wrapper {
    padding: 1em 0 0.5em 0!important;
}

.not-visible{
    display: none;
}

.scrolled {
    height: 500px;
    width: auto;
    overflow-y: scroll;

}

.scrolled::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

