
.btn-primary {
    background-color: #50cf9a!important;
    color: #fff;
    box-shadow: #50cf9a;
}

.btn-secondary{
    background-color: #bcc5d1!important;
}

#footer-wrapper {
    padding: 1em 0 0.5em 0!important;
}

.not-visible{
    display: none;
}
.button.large {
    padding: 1em 1.5em!important;
    width: 280px;
}

.logoEmprendedora {
    font-size: 20px;
}

/*Webkit*/
.scrolled {
    height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

#logout1{
    color: crimson!important;
    
}

#copyright{
    padding: 1em 0 0em 0!important;
}

.footer1{
    margin-bottom: -3em!important;
    /* padding:1em 0; */
    /* text-align: center; */
   
}

#foot{
   padding-top: 0px!important;  
}

body{
    margin:0!important;
    min-height: 100vh!important;
}