
.btn-primary {
    background-color: #50cf9a!important;
    color: #fff;
    box-shadow: #50cf9a;
}

.btn-secondary{
    background-color: #bcc5d1!important;
}

#footer-wrapper {
    padding: 1em 0 0.5em 0!important;
}