
{% extends '../../../../base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block body-style %}
<body class="left-sidebar is-preload">
    <div id="page-wrapper">
{% endblock %}
{% block contenido %}
                
                </div>
            </div>
        <!-- Main Wrapper -->
            <div id="main-wrapper">
                <div class="">
                    <div class="inner">
                        <div class="container">

                            <div id="formularios" class="row">
                                <div class="col-6 col-12-medium">
                                    <div >
                                        <div id="sidebar">

                                            <!-- Sidebar -->
                                            
                                                <section class="scrolled">
                                                    <header class="major">
                                                        <h2>Ingresa tus Insumos</h2>
                                                    </header>                                                
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th><h6>Producto</h6></th>
                                                                <th><h6>Insumo</h6></th>
                                                                <th><h6>Cantidad</h6></th>                                                        
                                                                <th><h6>Frecuencia de compra</h6></th>                                                        
                                                            </tr>
        
                                                            {% for e in insumo %}
                                                            <tr >
                                                                <td>{{ e.id_producto | title }}</td>
                                                                <td>{{ e.nombre | title }}</td>
                                                                <td>{{ e.id_cantidad | title }}</td>
                                                                <td>{{ e.id_frecuencia | title }}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </table>                                                                      
                                                </section>
                                                
                                                <section>                                                
                                                    <footer >
                                                        <a href="/cantidad" class="button icon solid fa-arrow-circle-right">Agregar cantidad</a>
                                                    </footer>                                           
                                                    <br>
                                                </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-12-medium imp-medium">
                                    <div id="content">

                                        <!-- Content -->
                                        <div id="modal-envolver">
                                            {% load crispy_forms_tags %} 
                                            
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <form action="" class="" method="post" id="">
                                            
                                                            {%  csrf_token %}
                                            
                                                            <!-- filtro  de form a crispy -->
                                                            {{ form | crispy }} 
                                            
                                                            <br>
                                                            <div class="d-flex justify-content-end">
                                                                <button id="btn-cancelar"type="reset" class="btn btn-secondary">Cancelar</button>
                                                                &nbsp;
                                                                <button type="submit" id="btnEnviar" class="btn btn-primary">Registrar</button>
                                                            </div >
                                                            
                                                            <div class="modal-dialog">
                                                        </form>
                                                        {{ mensaje }}   
                                                    </div>
                                                </div>
                                            </div>                                           
                                            
                                                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper style3">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">

                                    <!-- Article list -->
                                        <section class="box article-list">
                                            <h2 class="icon fa-file-alt">Recent Posts</h2>

                                            <!-- Excerpt -->
                                                <article class="box excerpt">
                                                    <a href="#" class="image left"><img src="{% static 'images/pic-13.jpg' %}" alt="" /></a>
                                                    <div>
                                                        <header>
                                                            <span class="date">Junio 8</span>
                                                            <h3><a href="#">Cencosud Shopping lanza Mercado Emprende para más de 1.000 pymes.</a></h3>
                                                        </header>
                                                        <p>Más de 1000 microempresarios de rubros tan diversos como decoración, textiles, joyas, artesanía, productos de belleza y alimentos, están exponiendo sus productos en los centros comerciales de Cencosud Shopping a lo largo del país durante un mes.Este proyecto colaborativo se realiza en alianza con Sercotec, Corfo, municipios, Asociación de Comercio Justo Chile y asociaciones de emprendedores.</p>
                                                    </div>
                                                </article>
                                        </section>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>


</body>


{% endblock %}
