
{% extends '../../base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block body-style %}
<body class="left-sidebar is-preload">
    <div id="page-wrapper">
{% endblock %}




{% block contenido %}
            
    
                </div>
            </div>
            
        <!-- Main Wrapper -->
            <div id="main-wrapper">
                <div class="">
                    <div class="inner">
                        <div class="container">                           
                            <div class="row">
                                <div class="col-12 col-12-medium">
                                    <div id="sidebar">

                                        <!-- Sidebar -->
                                            
                                            <section class="scrolled">
                                                <header class="major">
                                                    <h2>Lista de emprendimientos registrados</h2>
                                                </header>
                                                <table class="table table-hover">
                                                    <tr>
                                                        <th><h6>N*</h6></th>
                                                        <th><h6>Emprendimiento</h6></th>
                                                        <th><h6>Industria</h6></th>                                                        
                                                        <th><h6>Emprendedora</h6></th>                                                        
                                                        <th><h6>Comuna</h6></th>                                                        
                                                        <th><h6>Emprendimiento</h6></th>                                                        
                                                        <th><h6>Email</h6></th>                                                        
                                                        <th><h6>website</h6></th>                                                        
                                                        <th><h6>Incluye Marketing</h6></th>                                                        
                                                        <th><h6>Ases. Contable</h6></th>                                                        
                                                    </tr>

                                                    {% for e in emprendimientos %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ e.nombre | title }}</td>
                                                        <td>{{ e.id_industria | title }}</td>
                                                        <td>{{ e.id_perfil_emprendedora | title }}</td>
                                                        <td>{{ e.id_comuna | title }}</td>
                                                        <td>{{ e.id_emprendimiento | title }}</td>
                                                        <td>{{ e.email | title }}</td>
                                                        <td>{{ e.website | title }}</td>
                                                        <td>{{ e.id_marketing | title }}</td>
                                                        <td>{{ e.asesoria_contable | title }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>                                    
                                            </section>                                           

                                    </div>
                                </div>
 
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>


            

    </div>
    
    
{% endblock %}
</body>



