
{% extends '../../../base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block body-style %}
<body class="left-sidebar is-preload">
    <div id="page-wrapper">
{% endblock %}




{% block contenido %}
            
    
                </div>
            </div>
            
        <!-- Main Wrapper -->
            <div id="main-wrapper">
                <!-- <h1>ASESORIAS</h1> -->
                <div class="">
                    <div class="inner">
                        <div class="container">                           
                            <div class="row">
                                <div class="col-12 col-12-medium">
                                    <div id="sidebar">

                                        <!-- Sidebar reporte -->
                                            
                                            <section >
                                                <header class="major">
                                                    <h2>Reporte de Industrias</h2>
                                                </header>
                                                <div class="scrolled">
                                                    <table class="table table-hover">                                                        
                                                        <tr>
                                                            <th><h6>N*</h6></th>
                                                            <th><h6>Industria </h6></th>
                                                            <th><h6>total emprendimientos</h6></th>                             
                                                        </tr>  
                                                        {% for e in emprendimiento2_count %} 
                                                           
                                                            {% for i in industria %}
                                                            
                                                                {% if i.id_industria == e.id_industria_id %}

                                                                <tr>
                                                                    <td> {{ forloop.counter }} </td>                                                            
                                                                    <td>{{ i.name | title }}</td> 
                                                                    <td>{{ e.cantidad | title }}</td> 
                                                                    <!-- <td>{{ e.nombre | title }}</td>  -->
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}  
                                                    </table>    
                                                </div>
                                                                                                                                
                                            </section>                                           
                                                                                        
                                    </div>
                                </div>

 
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>


            

    </div>
    
    
{% endblock %}
</body>



